pkgbase = sentype
	pkgdesc = SenType — simple terminal typing game
	pkgver = 0.2.1
	pkgrel = 1
	url = https://github.com/rumyp/sentype
	arch = any
	license = MIT
	depends = python
	source = https://github.com/rumyp/sentype/releases/download/0.2.1/sentype-0.2.1.tar.gz
	sha256sums = 5cc79c8e823bc1136905eaed5af49efff87b56f5b2a419318e57ced3fe09ac9a

pkgname = sentype
