pkgbase = sentype
	pkgdesc = SenType — simple terminal typing game
	pkgver = 0.2.1
	pkgrel = 1
	url = https://github.com/rumyp/sentype
	arch = any
	license = MIT
	depends = python
	source = https://github.com/rumyp/sentype/archive/refs/tags/0.2.1.tar.gz
	sha256sums = 448de9bd94b1709c72c5c0a26e7cd0f9ba936e29bfbd8f098989a310504c5473

pkgname = sentype
